@import "./grid.scss";
body {
  background-color: #c3cfe2;
}

.container {
  position: relative;
  width: 200px;
  &__img {
    display: block;
    width: 100%;
    border-radius: 1em;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    transition-timing-function: ease;
    border-radius: 1em;
    &:hover {
      opacity: 1;
    }
  }
}

button {
  cursor: pointer;
}
